body {
  margin: 0;
  margin-top: 0;
  background-color:whitesmoke;
}
.webcam-head {
  margin-top: 0;
  margin-bottom: 10px;
  background-color: #0e212c;
  height: 50px;
  padding-top: 10px;
}
@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 20px #fff, 0 0 100px #fff, 0 0 20px #fff;
    }
    50% {
      text-shadow: 0 0 50px #fff, 0 0 150px #fff, 0 0 50px #fff;
    }
  }
.header-text {
    margin: 0;
  color: white;
  animation: neon 1.5s ease-in-out infinite alternate;
  text-align: center;
}
.navbackground {
  background-color: whitesmoke;
}
.Identify-background {
  width: 500px;
  height: 80px;
  text-align: center;
  margin: auto;
  border: 5px solid #212529;
}
.webcam {
  margin: 10px auto;
  width: 1800px;
  height: 750px;
  border: 3px solid black;
  border-radius: 1%;
}

